<h2> ======================================================</h2>
 <h1>MA477 - Theory and Applications of Data Science</h1> 
  <h1>Homework 2: Pandas</h1> 
 
 <h4>Dr. Valmir Bucaj</h4>
 <br>
 United States Military Academy, West Point, AY20-2
<h2>=======================================================</h2>

<h2> Weight: <font color='red'>50pts</font</h2>

<hr style="height:3.2px;border:none;color:#333;background-color:#333;" />

<h3> Cadet Name:</h3>
<br>
<h3>Date: </h3>

<br>

<font color='red' size='3'> <b>$\dots \dots$</b> MY DOCUMENTATION IDENTIFIES ALL SOURCES USED AND ASSISTANCE RECEIVED IN THIS ASSIGNMENT
<br>

<b>$\dots \dots$ </b> I DID NOT USE ANY SOURCES OR ASSISTANCE REQUIRING DOCUMENATION IN COMPLETING THIS ASSIGNMENT</font>

<h3> Signature/Initials: </h3>

<hr style="height:3px;border:none;color:#333;background-color:#333;" />


<font size='4'>Complete the following tasks:</font>

<hr style="height:2px;border:none;color:#333;background-color:#333;" />

<h4> Import Pandas and Numpy</h4>

<font color='red'>5pts</font>

In [1]:
#Enter your code here
import pandas as pd

In [2]:
import numpy as np

<h4>Read-in the file named <font color='red'>Airbnb_Dataset</font> and assign it to a variable names <font color='red'>abnb</font></h4>(Make sure that the file is in the same folder as your Homework2 JupyterNotebook)

<font color='red'>5pts</font>

In [4]:
abnb=pd.read_excel('Airbnb_Dataset.xlsx')

<h4> Show the head of the dataframe</h4>

<font color='red'>5pts</font>

In [6]:
#Your code goes here
abnb.head()

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

<h4> Find how many different neighborhoods are there in Manhattan and list all of them? </h4>

<font color='red'>5pts</font>

In [21]:
#Answer for number of different neighborhoods in Manhattan
abnb_manhattan = abnb[(abnb['neighbourhood_group']=='Manhattan')] 
abnb_manhattan['neighbourhood'].nunique()

32

In [17]:
#Your answer for the list of all different neighborhoods in Manhattan
abnb_manhattan = abnb[(abnb['neighbourhood_group']=='Manhattan')] 
abnb_manhattan['neighbourhood'].unique() #CDT Raftery helped me with this problem by talking me through the steps to 
#properly nest my groups to get the answer. She helped me with this part first whcih allowed me to be able to get number
#of different neighbourhoods.

array(['Midtown', 'Harlem', 'East Harlem', 'Murray Hill',
       "Hell's Kitchen", 'Upper West Side', 'Chinatown', 'West Village',
       'Chelsea', 'Inwood', 'East Village', 'Lower East Side', 'Kips Bay',
       'SoHo', 'Upper East Side', 'Washington Heights',
       'Financial District', 'Morningside Heights', 'NoHo',
       'Flatiron District', 'Roosevelt Island', 'Greenwich Village',
       'Little Italy', 'Two Bridges', 'Nolita', 'Gramercy',
       'Theater District', 'Tribeca', 'Battery Park City', 'Civic Center',
       'Stuyvesant Town', 'Marble Hill'], dtype=object)

<h4> How many different shared rooms are listed?</h4>

<font color='red'>5pts</font>

In [30]:
#Your answer
abnb['room_type'].value_counts()

Entire home/apt    25409
Private room       22326
Shared room         1160
Name: room_type, dtype: int64

<h4> Find all the listings of room type <font color='red'> Shared rooms</font> in <font color='red'> Manhattan</font> with a price range of <font color='red'> \$60$-$\$75</font> and that have received over <font color='red'>100 reviews</font></h4>

<font color='red'>10pts</font>

In [39]:
#Enter your answer here
abnb[(abnb['room_type']=='Shared room')&(abnb['price']>65)&(abnb['price']<75)
     &(abnb['number_of_reviews']>100)]
#Your code goes here 
#CDT Raftery help me by telling me that I should try splitting my command for the price range into two parts.

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2787,2787,1526741,Comfy Couch in a nice and safe apt!!,6486116,Ari,Manhattan,East Harlem,40.79004,-73.94846,Shared room,69,1,136,2019-04-04,2.13,4,103
4229,4229,2774934,Females only for midtown apt share,1866728,Jeani,Manhattan,Upper West Side,40.77024,-73.98746,Shared room,70,1,225,2019-07-07,3.53,1,262
6055,6055,4431247,1st Time/Solo/Duo Travelers!Charming Studio Sh...,22382732,Sue,Manhattan,Chelsea,40.74726,-74.00213,Shared room,70,2,126,2019-06-29,2.61,1,309
7652,7652,5763191,"BEAUTIFUL APT UPPER WEST SIDE, 68St ONLY GIRLS",29901463,Nadia,Manhattan,Upper West Side,40.77260,-73.97928,Shared room,68,3,105,2019-06-23,2.09,1,302
17818,17818,13971471,Nice Room in Charming Apartment,8338942,Victor,Manhattan,Nolita,40.72363,-73.99546,Shared room,70,1,228,2019-06-21,6.36,4,103

<h4> Find the <font color='red'>minimum</font>, <font color='red'>maximum</font>, and <font color='red'>average</font> values for both <font color='red'>price</font> and <font color='red'> number of reviews</font> for the listings in each of the different neighbourhoods of Manhattan</h4>

<font color='red'>5pts</font>

In [43]:
#Your answer
abnb_manhattan.groupby(by='neighbourhood').agg({'price':[np.max,np.mean,np.min],
                                       'number_of_reviews':[np.max,np.mean,np.min]})

                     price                  number_of_reviews
                      amax        mean amin              amax       mean amin
neighbourhood
Battery Park City     7500  367.557143   55               205   8.285714    0
Chelsea               6800  249.738544   12               375  21.240791    0
Chinatown             1500  161.497283   41               318  27.013587    0
Civic Center           950  191.942308   50               319  12.250000    0
East Harlem           9999  133.198747   30               325  32.628469    0
East Village          3750  186.083108   10               451  24.106854    0
Financial District    3000  225.490591   12               285   9.315860    0
Flatiron District     2000  341.925000   65               177  17.737500    0
Gramercy              3000  222.754438   45               323  22.727811    0
Greenwich Village     6000  263.405612   43               209  16.647959    0
Harlem                5000  118.974041   10               607  28.578631    0
Hell's Kitchen        4100  204.794178   10               430  25.652196    0
Inwood                 359   88.896825   22               261  18.611111    0
Kips Bay              2750  202.408511   10               276  12.419149    0
Little Italy          5250  222.066116   41               219  23.132231    0
Lower East Side       9999  186.312843   29               540  26.521405    0
Marble Hill            274   89.166667   40                85  14.000000    0
Midtown               5100  282.719094   30               275  12.585113    0
Morningside Heights   1200  114.783237   30               233  13.291908    0
Murray Hill           2000  220.958763    0               321   9.350515    0
NoHo                  1795  295.717949   75               115  12.743590    0
Nolita                5000  230.138340   20               244  22.268775    0
Roosevelt Island      1400  113.259740   30               178  15.766234    0
SoHo                  3000  287.103352   10               228  20.209497    0
Stuyvesant Town       1500  169.108108   45               150   8.162162    0
Theater District      3000  248.013889   40               330  15.076389    0
Tribeca               8500  490.638418   60               447  11.491525    0
Two Bridges            320  127.069444   35               223  29.569444    0
Upper East Side       7703  188.948276   10               389  17.622914    0
Upper West Side      10000  210.918316   10               401  18.294267    0
Washington Heights    1000   89.610679   16               307  19.088988    0
West Village          4000  267.682292   50               272  19.381510    0

<h2><font color='red'>Challenging!!!</font></h2>

<br>

Find all the listings that have any version (upper case, lower case, mix etc.) of the following two phrases <b> Females Only</b> and <b> Comfy Couch</b> in the <font color='red'>name</font> column of the <b> abnb</b> dataframe. Display only the <b>id, name, host_name, price,</b> and <b> neighbourhood_group</b>

<font color='red'>10pts</font>

In [44]:
#Don't change this
pd.set_option('display.max_colwidth', -1)

In [48]:
#Your answer goes here
abnb1 = abnb.loc[abnb.name.str.contains('comfy couch|females only',na=False, case=False)]

abnb1[['id','name','host_name','price','neighbourhood_group']]

,id,name,host_name,price,neighbourhood_group
2787,1526741,Comfy Couch in a nice and safe apt!!,Ari,69,Manhattan
4229,2774934,Females only for midtown apt share,Jeani,70,Manhattan
7704,5824543,Private room for 2 (10 min to city) - Females only,Qasim,80,Bronx
13418,10057854,Room in LIC - females only please,Justyna,35,Queens
14140,10853955,"Sunny, private room; Quick to NYC. Females only.",Jennifer,50,Queens
14524,11442670,Females Only Private Room JFK 1Omin,Annett And Chuck,40,Queens
15322,12274909,Beautiful spacious bedroom BayRidge FEMALES only,Carol,35,Brooklyn
15882,12847720,"Prime location, close to everything. Females only",David,50,Manhattan
16254,13100277,"Bright, inviting room-quick to NYC, females only.",Jennifer,70,Queens
16552,13256651,Large Comfy Couch in South Prospect Park,Marie,46,Brooklyn
19392,15476467,Large Space and Comfy Couch in New Apartment,Aleisha,75,Manhattan
20719,16425205,Room for rent (females ONLY),Chioma,40,Bronx
21323,16974219,Big Room with Queen Bed&Comfy Couch,Liam,60,Queens
21813,17531493,Cute Room in Upper West Side (FEMALES ONLY),Ana,75,Manhattan
22031,17728208,Bright and Clean One Bedroom - Females Only!,Alexi,100,Manhattan
22583,18269285,Prime Midtown East Queen Bedroom-Females only,Charlotte,99,Manhattan
23326,18888585,1 bedroom in 4 BR 1 bath Apt females only,Annette,50,Brooklyn
24336,19593009,"Simple Cost-friendly Private Room, FEMALES ONLY",Amanda,29,Bronx
24634,19801310,Bedroom with Manhattan view (females only),Xinyan,60,Manhattan
24927,19979480,1 Room in Bushwick *Females only*,Brooke,32,Brooklyn
25948,20724115,*FEMALES ONLY* BEAUTIFUL ROOM in downtown NYC!,Michela,80,Manhattan
26135,20844580,"Pretty 1 bedroom apt, Williamsburg/ Females only",Michelle,55,Brooklyn
27902,21844040,Comfy Couch in Cool Modern Brooklyn (BUSHWICK) Apt,Lauren,43,Brooklyn
28388,22048265,Luxurious Brooklyn Getaway - Comfy Couch & Sofabed,Joycelyn,29,Brooklyn
28425,22065495,Huge bedroom in a renovated apt (females only!),Eliana,65,Manhattan
29020,22328689,Private room in GREENPOINT(hosting females only),Lina,95,Brooklyn
29520,22658582,Comfy couch in Manhattan!,Sofia,30,Manhattan
30313,23433996,Spacious Room Close to Manhattan (Females Only),Bettina,100,Queens
31064,24105281,Clean Private room in Manhattan(females only),Aki,90,Manhattan
31095,24133060,A futon in a beautiful studio for females only,Maryam,30,Manhattan
31701,24715968,Clean comfy couch -2 blocks from train station,Briane,60,Brooklyn
32269,25237818,East Harlem Room Available (Females Only),Faith,50,Manhattan
38664,30378211,Shared Studio (females only),Meg,110,Manhattan
39674,30886242,Spacious and Bright bedroom (females only!),Eliana,52,Manhattan
40368,31303661,New York Safe Haven (Females Only),Melanie,39,Manhattan
42293,32822356,Manhattan Lifestyle by Melanie (Females Only),Melanie,53,Manhattan
42880,33291866,Angela's Sweet Suite (Shared-Females Only),Angela,35,Manhattan
43204,33514118,Close to city in trendy Queens! Females only,Linda,38,Queens
44479,34255183,2 Bedrooms and a Comfy Couch On Washington,Cathleen,100,Brooklyn

<hr style="height:3px;border:none;color:#333;background-color:#333;" />
<h3> Work Cited</h3>

In [ ]:
#CDT Raftery, Meghan' 21, A4. Assistance given to the author via verbal and visual assistance. 
# I was working alongside her as she was finishing up her homework and would ask her when I needed help.
#She helped me with the challenging part. She showed me the line of code "abnb.name.str.contains('comfy couch|females only',na=False, case=False)"
#and she told me what she found on stack overflow helped her. She explained the "na" and "case" , and how it took out the 
#elements in the list that did not meet the conditions. West Point, NY. 27 Jan 2020.